.gallery-container {
    height: 2200px;
    overflow-y: hidden;
    position: relative;
}

.gallery-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 36px;
    margin-top: 75px;
    align-items: start;
}

.gallery-rows {
    display: grid;
    row-gap: 24px;
}

.row-with-gap {
    margin-top: 50px;
}

.gallery-rows img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.gallery-gradient {
    width: 100%;
    height: 360px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.gallery-1920 {
    display: grid;
}

.gallery-1240 {
    display: none;
}

@media (max-width: 1024px) {
    .gallery-container {
        height: 1460px;
    }

    .gallery-columns {
        margin-top: 60px;
    }

    .gallery-1920 {
        display: none;
    }

    .gallery-1240 {
        display: grid;
    }

    .gallery-gradient {
        height: 240px;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 420px) {

}