* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    background-color: var(--background-black);
}
p {
    cursor: default;
}

.content-container {
    max-width: 1440px;
    margin: 0 auto;
}

.with-top-distance {
    padding-top: 75px;
}

.flex-centered {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    height: 392px;
    background-color: var(--background-black);
}

.footer-up {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left-part {
    display: flex;
    align-items: start;
    gap: 145px;
    margin-top: 75px;
}

.bottom-flex {
    align-self: flex-end;
}

.footer-underline {
    height: 3px;
    background-color: var(--footer-grey);
}

.footer-down {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-down-text {
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-size: 22px;
    letter-spacing: 2px;
    color: var(--text-white);
    margin: 50px 0;
}

/* Sections */
h2 {
    text-transform: uppercase;
    font-family: Forum, sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    margin: 0;
    cursor: default;
}

.dark-section {
    background-color: var(--background-black);
}

.dark-section h2 {
    color: var(--text-white);
}

.light-section {
    background-color: var(--background-white);
}

.light-section h2 {
    color: var(--hover-gold);
}

.underline-title {
    position: relative;
}
.underline-title::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--dark-red);
}

/* Icon */
.icon-block {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.icon-image {
    width: 49px;
    height: 26px;
    background-image: url("../assets/svg/menu/white-logo.svg");
}

.menu-icon {
    width: 32px;
    height: 18px;
    background-image: url("../assets/svg/menu/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 1s,
                background-image 1s;
    display: none;
}

.menu-icon:hover {
    background-image: url("../assets/svg/menu/menu-hover.svg");
}

.menu-open {
    width: 25px;
    height: 25px;
    background-image: url("../assets/svg/menu/menu-close.svg");
}

.menu-open:hover {
    background-image: url("../assets/svg/menu/menu-close-hover.svg");
}

.hidden-by-menu {
    opacity: 0;
}

.menu-arrow {
    width: 12px;
    height: 12px;
    background-image: url("../assets/svg/menu/menu-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 1s,
                background-image 1s;
    display: none;
}

.icon-text {
    font-family: Forum, sans-serif;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--text-white);
    padding-top: 3px;
    margin: 0;
}

/* Navigation */
.header-navigation {
    overflow-x: hidden;
}

.header-navigation-list {
    list-style: none;
    display: flex;
    gap: 55px;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.header-navigation-list-on-left {
    left: 55px !important;
}

.footer-navigation-list {
    list-style: none;
    column-count: 2;
    column-gap: 150px;
    margin: 0 0 50px;
    padding: 0;
}

.column-with-gap {
    margin-bottom: 25px;
}

.navigation-link {
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-size: 22px;
    letter-spacing: 2px;
    color: var(--text-white);
    text-decoration: none;
    transition: color 1s;
}

.navigation-link:hover {
    color: var(--hover-gold);
}

.navigation-link:hover .menu-arrow {
    background-image: url("../assets/svg/menu/menu-arrow-hover.svg");
}

.social-list {
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: right;
    align-items: center;
    padding: 0;
    margin: 0 0 55px;
}

.social-icon {
    width: 48px;
    height: 48px;
    border: 1px solid var(--footer-grey);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    transition: border-color 1s,
                background-image 1s;
}

.social-icon:hover {
    border-color: var(--hover-gold);
}

.youtube {
    background-image: url("../assets/svg/social/Youtube.svg");
}

.youtube:hover {
    background-image: url("../assets/svg/social/hover/Youtube.svg");
}

.instagram {
    background-image: url("../assets/svg/social/Instagram.svg");
}

.instagram:hover {
    background-image: url("../assets/svg/social/hover/Instagram.svg");
}

.facebook {
    background-image: url("../assets/svg/social/Facebook.svg");
}

.facebook:hover {
    background-image: url("../assets/svg/social/hover/Facebook.svg");
}

.twitter {
    background-image: url("../assets/svg/social/Twitter.svg");
}

.twitter:hover {
    background-image: url("../assets/svg/social/hover/Twitter.svg");
}

.pinterest {
    background-image: url("../assets/svg/social/Pinterest.svg");
}

.pinterest:hover {
    background-image: url("../assets/svg/social/hover/Pinterest.svg");
}

@media (max-width: 1024px) {
    .content-container {
        max-width: 984px;
    }

    .header-container {
        height: 130px;
    }

    .menu-icon {
        display: block;
    }

    .menu-arrow {
        display: block;
    }

    .header-navigation-list {
        position: absolute;
        left: -420px;
        top: 165px;
        flex-direction: column;
        align-items: start !important;
        gap: 25px !important;
        z-index: 5;
        transition: left 1s;
    }

    .navigation-link {
        width: 122px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h2 {
        font-size: 50px;
        line-height: 75px;
    }

    .underline-title::after {
        bottom: -20px;
    }
}

@media (max-width: 768px) {
    .content-container {
        max-width: 768px;
    }

    h2 {
        font-size: 40px;
        line-height: 60px;
    }

    .menu-icon {
        display: block;
    }

    .menu-arrow {
        display: block;
    }

    .header-navigation {
        display: none;
    }

    .underline-title::after {
        bottom: -20px;
    }
}

@media (max-width: 420px) {
    .content-container {
        max-width: 420px;
    }

    h2 {
        font-size: 28px;
        line-height: 40px;
    }

    .menu-icon {
        display: block;
    }

    .menu-arrow {
        display: block;
    }

    .header-navigation {
        display: none;
    }

    .underline-title::after {
        bottom: -20px;
    }
}