.video-header-container {
    padding: 60px 0;
    gap: 115px;
}

.video-left-header {
    flex-basis: 75%;
}

.video-right-header {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 38.5px;
}

.player-container {
    width: 100%;
    height: 650px;
    background-image: url("../assets/img/video/poster0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.player-actions-container {
    width: 100%;
    height: 85px;
    background-color: var(--background-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.big-play-button {
    background: url("../assets/svg/video/play_main.svg") no-repeat center center;
    width: 100%;
    height: 100%;
}

.play-button {
    width: 23px;
    height: 31px;
    border: 0;
    background-image: url("../assets/svg/video/play.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.slider {
    background: linear-gradient(to right, var(--dark-red) 0%, var(--dark-red) 40%, var(--slider-grey) 40%, var(--slider-grey) 100%);
    width: 100%;
    height: 8px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: var(--background-white);
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 50%;
    cursor: ew-resize;
    background: var(--background-white);
}

.full-width-play-slider {
    display: none;
    margin: 0;
    width: 100%;
}

.play-slider {
    width: 929px;
}

.volume-slider {
    width: 155px;
}

.volume-button {
    width: 38px;
    height: 31px;
    border: 0;
    background-image: url("../assets/svg/video/volume.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.expand-button {
    width: 35px;
    height: 35px;
    border: 0;
    background-image: url("../assets/svg/video/expand.svg");
    background-color: transparent;
    background-size: contain;
    cursor: pointer;
}

.mini-video-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 42px;
    margin: 40px 0;
}

.mini-video {
    width: 100%;
    height: 254px;
    border: 0;
}

.mini-video-controls {
    gap: 20px;
    padding-bottom: 75px;
    width: 200px;
    margin: 0 auto;
}

.video-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--dark-grey);
    transition: background-color 1s;
    cursor: pointer;
}

.video-dot:hover {
    background-color: var(--dark-red);
}

.video-arrow {
    width: 10px;
    height: 12px;
    cursor: pointer;
    transition: background-image 1s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.video-before {
    background-image: url("../assets/svg/video/before.svg");
}

.video-before:hover {
    background-image: url("../assets/svg/video/before-hovered.svg");
}

.video-after {
    background-image: url("../assets/svg/video/after.svg");
}

.video-after:hover {
    background-image: url("../assets/svg/video/after-hovered.svg");
}

.video-unvisited {
    background-color: var(--video-unvisited);
}

@media (max-width: 1024px) {
    .video-header-container {
        padding: 40px 0;
    }

    .video-right-header {
        display: none;
    }

    .player-container {
        height: 444px;
    }

    .big-play-button {
        background-size: 152px 152px;
    }

    .player-actions-container {
        height: 60px;
        padding: 0 40px;
    }

    .slider {
        height: 5px;
    }

    .slider::-webkit-slider-thumb {
        width: 13px;
        height: 13px;
    }

    .play-slider {
        width: 564px;
    }

    .volume-slider {
        width: 143px;
    }

    .play-button {
        height: 26px;
    }

    .volume-button {
        height: 26px;
    }

    .expand-button {
        width: 26px;
        height: 26px;
    }

    .mini-video {
        height: 170px;
    }

    .mini-video-controls {
        padding-bottom: 60px;
    }
}

@media (max-width: 768px) {
    .video-header-container {
        padding: 60px 0 20px;
    }

    .player-container {
        height: 329px;
    }

    .big-play-button {
        background-size: 80px 80px;
    }

    .full-width-play-slider {
        display: block;
    }

    .player-actions-container {
        height: 53px;
        padding: 0 30px;
    }

    .slider {
        height: 5px;
    }

    .slider::-webkit-slider-thumb {
        width: 13px;
        height: 13px;
    }

    .play-slider {
        display: none;
    }

    .volume-slider {
        width: 486px;
    }

    .play-button {
        height: 26px;
    }

    .volume-button {
        height: 26px;
    }

    .expand-button {
        width: 26px;
        height: 26px;
    }

    .mini-video-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 20px 0;
        column-gap: 20px;
    }

    .third-video {
        display: none;
    }

    .mini-video {
        height: 199px;
    }

    .mini-video-controls {
        padding-bottom: 80px;
    }
}

@media (max-width: 420px) {
    .video-header-container {
        padding: 40px 0 20px;
    }

    .player-container {
        height: 172px;
    }

    .big-play-button {
        background-size: 50px 50px;
    }

    .player-actions-container {
        height: 50px;
        padding: 0 20px;
    }

    .slider {
        height: 4px;
    }

    .slider::-webkit-slider-thumb {
        width: 10px;
        height: 10px;
    }

    .play-slider {
        display: none;
    }

    .volume-slider {
        width: 200px;
    }

    .play-button {
        height: 18px;
    }

    .volume-button {
        height: 18px;
    }

    .expand-button {
        width: 18px;
        height: 18px;
    }

    .mini-video-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 40px 0;
        column-gap: 20px;
    }

    .mini-video {
        height: 101px;
    }

    .mini-video-controls {
        padding-bottom: 40px;
    }

    .video-arrow {
        width: 7px;
        height: 8px;
    }

    .video-dot {
        width: 8px;
        height: 8px;
    }
}