.video-container {
    position: relative;
}

.video-header-container {
    padding: 60px 0;
    gap: 115px;
}

.video-left-header {
    flex-basis: 75%;
}

.video-right-header {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 38.5px;
}

.player-container {
    width: 100%;
    height: 650px;
}

.player-video-0 {
    background-image: url("../assets/img/video/poster0.jpg");
}

.player-video-1 {
    background-image: url("../assets/img/video/poster1.jpg");
}

.player-video-2 {
    background-image: url("../assets/img/video/poster2.jpg");
}

.player-video-3 {
    background-image: url("../assets/img/video/poster3.jpg");
}

.player-video-4 {
    background-image: url("../assets/img/video/poster4.jpg");
}

.player-main-container {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.player-actions-container {
    width: 100%;
    height: 85px;
    background-color: var(--background-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.big-play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateY(-100%);
}

.main-play-button {
    width: 200px;
    height: 220px;
    color: var(--text-white);
    transition: color 1s;
}

.main-play-button:hover {
    color: var(--dark-red);
}

.play-button {
    width: 23px;
    height: 31px;
    border: 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    color: var(--video-standart);
    transition: color 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button:hover {
    color: var(--video-hover);
}

.slider {
    background: linear-gradient(to right, var(--dark-red) 0%, var(--dark-red) 40%, var(--slider-grey) 40%, var(--slider-grey) 100%);
    width: 100%;
    height: 8px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: var(--background-white);
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 50%;
    cursor: ew-resize;
    background: var(--background-white);
}

.full-width-play-slider {
    display: none;
    margin: 0;
    width: 100%;
}

.play-slider {
    width: 929px;
}

.volume-slider {
    width: 155px;
}

.volume-button {
    width: 38px;
    height: 31px;
    border: 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    color: var(--video-standart);
    transition: color 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume-button:hover {
    color: var(--video-hover);
}

.expand-button {
    width: 35px;
    height: 35px;
    border: 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    color: var(--video-standart);
    transition: color 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expand-button:hover {
    color: var(--video-hover);
}

.mini-video-container {
    max-width: 100%;
    margin: 40px 0;
    overflow: hidden;
    white-space: nowrap;
}

.mini-video-carousel {
    position: relative;
}

.carousel-with-animation {
    transition: left 1s;
}

.mini-video {
    width: calc((100% - 84px) / 3);
    height: 254px;
    border: 0;
    margin-left: 42px;

    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mini-video-carousel :first-child {
    margin-left: 0;
}

.mini-video-controls {
    gap: 20px;
    padding-bottom: 75px;
    width: 200px;
    margin: 0 auto;
}

.video-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--dark-grey);
    transition: background-color 1s;
    cursor: pointer;
}

.video-dot:hover {
    background-color: var(--dark-red);
}

.video-arrow {
    width: 10px;
    height: 12px;
    color: var(--dark-grey);
    transition: color 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.video-arrow:hover {
    color: var(--dark-red);
}

.video-active {
    background-color: var(--video-active);
}

.mini-video-button {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--popup-background);
    cursor: pointer;
}

.mini-video-button svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
    .video-header-container {
        padding: 40px 0;
    }

    .video-right-header {
        display: none;
    }

    .player-container {
        height: 444px;
    }

    .main-play-button {
        width: 152px;
        height: 152px;
    }

    .player-actions-container {
        height: 60px;
        padding: 0 40px;
    }

    .slider {
        height: 5px;
    }

    .slider::-webkit-slider-thumb {
        width: 13px;
        height: 13px;
    }

    .slider::-moz-range-thumb {
        width: 13px;
        height: 13px;
    }

    .play-slider {
        width: 564px;
    }

    .volume-slider {
        width: 143px;
    }

    .play-button {
        height: 26px;
    }

    .volume-button {
        height: 26px;
    }

    .expand-button {
        width: 26px;
        height: 26px;
    }

    .mini-video {
        height: 170px;
    }

    .mini-video-controls {
        width: 200px;
        padding-bottom: 60px;
    }
}

@media (max-width: 768px) {
    .video-header-container {
        padding: 40px 0 20px;
    }

    .player-container {
        height: 329px;
    }

    .main-play-button {
        width: 80px;
        height: 80px;
    }

    .full-width-play-slider {
        display: block;
    }

    .player-actions-container {
        height: 53px;
        padding: 0 30px;
    }

    .slider {
        height: 5px;
    }

    .slider::-webkit-slider-thumb {
        width: 13px;
        height: 13px;
    }

    .slider::-moz-range-thumb {
        width: 13px;
        height: 13px;
    }

    .play-slider {
        display: none;
    }

    .volume-slider {
        width: 486px;
    }

    .play-button {
        height: 26px;
    }

    .volume-button {
        height: 26px;
    }

    .expand-button {
        width: 26px;
        height: 26px;
    }

    .mini-video-container {
        margin: 20px 0;
    }

    .mini-video {
        width: calc((100% - 20px) / 2);
        height: 199px;
        margin-left: 20px;
    }

    .mini-video-controls {
        width: 190px;
        padding-bottom: 80px;
    }

    .video-dot {
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 420px) {
    .video-header-container {
        padding: 40px 0 17px;
    }

    .player-container {
        height: 172px;
    }

    .main-play-button {
        width: 50px;
        height: 50px;
    }

    .player-actions-container {
        height: 48px;
        padding: 0 20px;
    }

    .slider {
        height: 4px;
    }

    .slider::-webkit-slider-thumb {
        width: 10px;
        height: 10px;
    }

    .slider::-moz-range-thumb {
        width: 10px;
        height: 10px;
    }

    .play-slider {
        display: none;
    }

    .volume-slider {
        width: 200px;
    }

    .play-button {
        height: 18px;
    }

    .volume-button {
        height: 18px;
    }

    .expand-button {
        width: 18px;
        height: 18px;
    }

    .mini-video-container {
        margin: 42px 0;
    }

    .mini-video {
        height: 101px;
    }

    .mini-video-controls {
        width: 174px;
        padding-bottom: 40px;
    }

    .video-arrow {
        width: 7px;
        height: 8px;
    }

    .video-dot {
        width: 8px;
        height: 8px;
    }
}