.welcome-section {
    position: relative;
    height: 810px;
    transition: opacity 0.7s ease;
}

.welcome-text {
    position: absolute;
    top: 150px;
    transition: opacity 0.7s ease;
}

.welcome-image-container {
    width: 100%;
    height: 750px;
    margin: 0;
    background-image: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url("../assets/img/welcome/1.jpg");
    background-position: calc(100%) calc(100% - 10px);
    background-size: 1000px 750px;
    background-repeat: no-repeat;
}

h1 {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 2px;
    color: var(--text-white);
    margin: 25px 0 0;
    cursor: default;
}

.welcome-gallery {
    width: 1000px;
    height: 750px;
    position: relative;
    background-image: url("../assets/img/welcome/1.jpg");
}

.welcome-gallery-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}

.discover-button {
    width: 360px;
    height: 75px;
    border: 0;
    border-radius: 10px;
    background-color: var(--dark-red);
    margin-top: 75px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 1s;
}

.discover-button:hover {
    background-color: var(--hover-gold);
}

.discover-button-link {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 2px;
    color: var(--text-white);
}

.welcome-slider {
    width: 600px;
    height: 120px;
    background-color: var(--background-black);
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.welcome-pages-container {
    gap: 10px;
}

.welcome-pages-container p {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 22px;
    vertical-align: middle;
    color: var(--text-white);
}

.welcome-buttons-container {
    gap: 25px;
}

.welcome-button {
    width: 16px;
    height: 16px;
    background-color: var(--background-white);
}

.selected {
    background-color: var(--hover-gold) !important;
}

.welcome-arrows {
    gap: 20px;
}

.arrow-container {
    width: 30px;
    height: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-white);
    transition: color 1s;
    cursor: pointer;
}

.arrow-container:hover {
    color: var(--hover-gold);
}

@media (max-width: 1024px) {
    .welcome-section {
        height: 585px;
    }

    .welcome-text {
        top: 50px;
    }

    .welcome-header-text {
        line-height: 90px !important;
    }

    h1 {
        font-size: 24px;
    }

    .discover-button {
        width: 300px;
        height: 60px;
        margin-top: 50px;
    }

    .welcome-image-container {
        height: 525px;
        background-image: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url("../assets/img/welcome/1.jpg");
        background-size: 700px 525px;
    }

    .welcome-slider {
        width: 100%;
        justify-content: right;
        padding-right: 75px;
        gap: 45px;
    }

    .welcome-button {
        width: 12px;
        height: 12px;
    }

    .navigation-link-header {
        font-size: 20px !important;
    }

    .hidden-by-menu .welcome-text {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .navigation-link-header {}

    .welcome-section {
        height: 861px;
    }

    .welcome-header-text {
        line-height: 60px !important;
    }

    .discover-button-link {
        display: none;
    }

    .welcome-text {
        text-align: center;
        position: static;
        margin-bottom: 50px;
    }

    h1 {
        font-size: 20px;
    }

    .welcome-image-container {
        height: 546px;
        background-image: url("../assets/img/welcome/1.jpg");
        background-size: contain;
        background-position: center;
    }

    .welcome-slider {
        position: static;
        width: 100%;
        height: 95px;
        gap: 45px;
        justify-content: center;
        padding-right: 0;
    }

    .welcome-pages-container p {
        font-size: 20px;
    }

    .welcome-button {
        width: 12px;
        height: 12px;
    }

    .hidden-by-menu {
        opacity: 0;
    }
}

@media (max-width: 420px) {
    .welcome-section {
        height: 540px;
    }

    h1 {
        font-size: 16px;
    }

    .welcome-header-text {
        line-height: 40px !important;
    }

    .welcome-image-container {
        height: 285px;
        background-image: url("../assets/img/welcome/1.jpg");
        background-size: contain;
        background-position: center;
    }

    .welcome-slider {
        position: static;
        width: 100%;
        height: 80px;
        gap: 25px;
    }

    .welcome-pages-container {
        gap: 5px;
    }

    .welcome-pages-container p {
        font-size: 16px;
    }

    .welcome-buttons-container {
        gap: 10px;
    }

    .welcome-button {
        width: 7px;
        height: 7px;
    }

    .welcome-arrows {
        gap: 15px;
    }

    .arrow-container {
        width: 20px;
    }
}


